.cart-icon {
  width: 28px;
  height: 28px;
}
.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #d0dada;
}
.contenedorCart {
  margin-top: 15px;
}

@media (max-width: 768px) {
  .contenedorCart {
    position: absolute;
    right: 15%;
  }
}
