.ItemsListContainer {
  width: 80%;
  margin: auto;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.containerImage {
  margin-top: 20px;
  width: 333px;
  height: 500px;
}

.btn {
  color: #ffffff;
  fill: #ffffff;
  border: none;
  border-bottom: 4px solid black;
  position: absolute;
}
.image7 {
  background: url("../../img/jpg/portada.jpg") no-repeat !important;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  /* @media (max-width: 414px) {
    height: 290px;
    background-position-y: bottom !important;
  } */
}
.image8 {
  background: url("../../img/jpg/caja.jpg") no-repeat !important;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  /* @media (max-width: 414px) {
    height: 290px;
    background-position-y: bottom !important;
  } */
}
@media (max-width: 414px) {
  .image8,
  .image7 {
    height: 320px;
    background-position: center center !important;
  }
}
.contenedorImage1 {
  height: 550px !important;
  width: 100% !important;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* descriotion imagen */

.texto {
  font-size: 30px;
  letter-spacing: 0.08em;
  padding-bottom: 10px;

  font-family: "Bebas Neue", cursive;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container_des {
  border: 2px solid white !important;
  color: white;
  padding: 6px 14px;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}
@media (max-width: 405px) {
  .texto {
    font-size: 50px;
  }
  .btn_des {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .container__des {
    border: 4px solid white;
    font-size: 40px;
  }
}

.btn_des {
  color: #ffffff;
  fill: #ffffff;
  border: none;
  /* border-bottom: 4px solid black; */
  background: #000000;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-size: 22px;
  transition: 0.3s all;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  /* color: #2f2e2e;
  width: 150px;
  height: 40px;
  padding: 10px 24px;
  text-decoration: none;
  background: #f1f1f1;
  border-radius: 8px;
  font-size: 22px;
  transition: 0.3s all;
  font-family: "Yusei Magic", sans-serif; */
}
.btn_des:hover {
  opacity: 0.8;
}
