.ItemsListContainer {
  width: 80%;
  margin: auto;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.containerImage {
  margin-top: 20px;
  width: 333px;
  height: 500px;
}

.my-loading {
  padding-top: 120px;
}
