.ItemListContainer li {
  padding: 10px;
}
.list {
  padding: 20px;
}

.ItemsListContainer {
  margin-top: 50px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.borrar {
  background: #d0dada;
}
