.SearchInput {
  width: 535px;
  height: 34px;
  background-color: #8fca00;
  border-radius: 5px;
  /* background-color: #c3002f; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.inputBucar {
  height: 28px;
  width: 482px;
  display: flex;
  align-items: center;
  /* background-color: #eee; */
  background: #d0dada;
  outline: none;
  /* background-color: #dfe; */
  border: 0;
}
.search-icon {
  width: 32px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
  padding-right: 2px;
}
