.topbar {
  display: flex;
  width: 100%;
  min-width: 30%;
  height: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* background: #333333; */
  background: #333333 !important;
  color: #fff;
}
.links {
  display: flex;
  list-style-type: none;
}
.link {
  margin: 0 6px;
  padding: 12px;
}
.link a {
  text-decoration: none;
  color: #fff;
}
.navigation {
  margin-right: 50px;
}
.logo {
  margin-left: 50px;
}
.login-icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 691px) {
  .topbar {
    height: 200px;
  }
}
