.envios {
  color: white;
  background-color: black !important;
  font-family: "Bebas Neue" !important;
  font-size: 12px;
  height: 36px;
  letter-spacing: 0.15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 4px;
  text-align: center;
}
