.total-quantity {
  color: white;
  background-color: black !important;
  font-family: "Bebas Neue" !important;
  font-size: 16px;
  height: 30px;
  letter-spacing: 0.15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.logo .NavLink {
  text-decoration: none;
}

.logo {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}
.logo:hover {
  color: black;
}

@media (max-width: 700px) {
  .logo {
    font-size: 30px;
  }
}
@media (max-width: 350px) {
  .logo {
    font-size: 20px;
    text-align: center;
  }
  .total-quantity {
    font-size: 12px;
    align-items: center;
    height: 33px;
  }
}

@media (max-width: 250px) {
  .logo {
    font-size: 14px;
    text-align: center;
  }
  .total-quantity {
    font-size: 10px;
    align-items: center;
    height: 33px;
  }
}
