h1,
p {
  font-family: Lato;
}

.input-container {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

.mr-4 {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

.div-error {
  color: white;
  width: 80%;
  text-align: center;
  padding: 1rem;
  background: red;
  margin-top: 1rem;
}

.form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
