.button-count {
  display: flex;
  width: 120px;
  margin: 10px;
  height: 30px;
  align-items: center !important;
  justify-content: center !important;
}
.count {
  display: block;
  background-color: white;
  margin: 0;
  width: 25px;
  height: 28px;
  text-align: center;
}

.contador {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
}
