.buttonCont {
  display: flex;
  width: 120px;
  margin: 10px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.count {
  display: block;
  background-color: white;
  margin: 0;
  width: 25px;
  height: 28px;
  text-align: center;
}
.agregar {
  border-radius: 10px;
  outline: none;
}
.masmenos {
  border-radius: 5px;
  outline: none;
}
